
<div ng-controller="UserController">
    <div class="col-md-12" style="padding:100px" ng-init="getActiveUsers()">
        <table class="table">
            <tr> <strong> User List </strong> </tr>
            <tr class="chat_message" ng-repeat="user in userList | orderBy:predicate:reverse | limitTo: 15">
                <td class="col-md-12 td_class"> <strong> <a href="#/mychat"> {{ user.name }}  </a> </strong> </td>
            </tr>
        </table>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="col-lg-12">
            <form class="form_chat">
                <div class="col-lg-4 col-md-3">
                </div>
            </form>
        </div>
    </div>
</div>
